# shellcheck shell=bash

# .envrc file of direnv.
# If you use vsode, pleaes use the `direnv` extension.

# Use nix-direnv
# https://github.com/nix-community/nix-direnv
# Ensures that flake.nix gets evaluated.
use flake

# Load variables from .env
dotenv_if_exists
